@{
    ViewBag.Title = "About";
}
<body>
    <!-- Service Start -->
    <section id="service">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h2>Our Services</h2>
                    <p>The knowledge we currently possess. (or at least we believe)</p>
                </div>
            </div>
            <div class="row ">
                <div class="col-sm-6 col-md-3">
                    <div class="service-item">
                        <i class="icon ion-coffee"></i>
                        <h4>1.0_We're_really_good_at_it.qt</h4>
                        <p>One of the most useful qualities of the team is coffee addiction. We're sorry...</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="service-item">
                        <i class="ion-compass"></i>
                        <h4>Web Design</h4>
                        <p>Our amateur graphic designers have the capabilities to translate your project personality to visual design.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="service-item">
                        <i class="ion-image"></i>
                        <h4>App Design</h4>
                        <p>Develop intuitive, usable, and engaging interactions and visual designs.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="service-item">
                        <i class="ion-bug"></i>
                        <h4>Start Up</h4>
                        <p>We working to solve a problem where the solution is not obvious and success is not guaranteed.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="service-item">
                        <i class="ion-headphone"></i>
                        <h4>2.0_We're_really_good_at_it.mp4</h4>
                        <p>A pleasant company in clubs. (you can call us)
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="service-item">
                        <i class="ion-leaf"></i>
                        <h4>Development</h4>
                        <p>???</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="service-item">
                        <i class="ion-planet"></i>
                        <h4>Many ideas</h4>
                        <p>???</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="service-item">
                        <i class="ion-earth"></i>
                        <h4>Worldwide</h4>
                        <p>???</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
