@{
    ViewBag.Title = "About";
}
<body>
    <!--Team And Skill Section-->
    <section id="teams" class="teams roomy-80">
        <div class="container">
            <div class="row">
                <div class="main_teams_content fix">
                    <div class="col-md-6">
                        <div class="teams_item">
                            <div class="head_title">
                                <h2 class="text-uppercase">MEET <strong>THE TEAM</strong></h2>
                            </div>
                            <p>
                                "I'm a hands on designer who's just trying to build things that last."
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="teams_item text-center sm-m-top-50">
                            <div class="row">
                                <div class="col-sm-4">
                                    <img src="~/image/Alex.png" alt="" class="img-circle" />
                                    <h4 class="m-top-20">Alex <strong>Popa</strong></h4>
                                    <h5>Programmer</h5>
                                    <div class="separator"></div>
                                    <ul class="list-inline">
                                        <li><a href="https://www.facebook.com/alex.popa.56211"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://github.com/PopeThePriest"><i class="fa fa-github"></i></a></li>
                                    </ul>
                                </div><!-- End off col-md-4 -->
                                <div class="col-sm-4">
                                    <img src="~/image/Elena.png" alt="" class="img-circle" />
                                    <h4 class="m-top-20">Elena <strong>Dobre</strong></h4>
                                    <h5>Programmer</h5>
                                    <div class="separator"></div>
                                    <ul class="list-inline">
                                        <li><a href="https://www.facebook.com/dobre.elena.52"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://github.com/ElenaDobree"><i class="fa fa-github"></i></a></li>
                                    </ul>
                                </div><!-- End off col-md-4 -->
                                <!-- End off col-md-4 -->
                                <div class="col-sm-4">
                                    <img src="~/image/Laur.png" alt="" class="img-circle" />
                                    <h4 class="m-top-20">Laurentiu <strong>Popoaca</strong></h4>
                                    <h5>Designer</h5>
                                    <div class="separator"></div>
                                    <ul class="list-inline">
                                        <li><a href="https://www.facebook.com/popoaca.laurentiu"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://github.com/DieLuftwaffe"><i class="fa fa-github"></i></a></li>
                                    </ul>
                                </div><!-- End off col-md-4 -->
                                <!-- End off col-md-4 -->
                                <div class="col-sm-6">
                                    <img src="~/image/AlexV.png" alt="" class="img-circle" />
                                    <h4 class="m-top-20">Alex <strong>Vaja</strong></h4>
                                    <h5>Programmer</h5>
                                    <div class="separator"></div>
                                    <ul class="list-inline">
                                        <li><a href="https://www.facebook.com/alexandru.vaja"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://github.com/alexvaja"><i class="fa fa-github"></i></a></li>
                                    </ul>
                                </div><!-- End off col-md-4 -->
                                <div class="col-sm-6">
                                    <img src="~/image/LucianB.png" alt="" class="img-circle" />
                                    <h4 class="m-top-20">Lucian <strong>Bolboros</strong></h4>
                                    <h5>Programmer</h5>
                                    <div class="separator"></div>
                                    <ul class="list-inline">
                                        <li><a href="https://www.facebook.com/lucian.bolboros"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://github.com/LucianBolboros"><i class="fa fa-github"></i></a></li>
                                    </ul>
                                </div><!-- End off col-md-4 -->
                            </div>
                        </div>
                    </div><!-- End off col-md-6 -->
                </div><!-- End off main Team -->
                
            <div class="col-md-12">
                    <div class="skill">
                        <div class="team_content_details_skills m-top-50">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="teamskillbar clearfix m-top-50 text-uppercase" data-percent="100%">
                                        <label>START UP</label>
                                        <div class="teamskillbar-bar" style="width: 100%;"></div>
                                    </div> <!-- End Skill Bar -->
                                    <div class="teamskillbar clearfix m-top-50 text-uppercase" data-percent="85%">
                                        <label>Web Design</label>
                                        <div class="teamskillbar-bar" style="width: 85%;"></div>
                                    </div> <!-- End Skill Bar -->
                                </div>
                                <div class="col-sm-6">
                                    <div class="teamskillbar clearfix m-top-50 text-uppercase" data-percent="90%">
                                        <label>Development</label>
                                        <div class="teamskillbar-bar" style="width: 90%;"></div>
                                    </div> <!-- End Skill Bar -->
                                    <div class="teamskillbar clearfix m-top-50 text-uppercase" data-percent="100%">
                                        <label>Many ideas</label>
                                        <div class="teamskillbar-bar" style="width: 100%;"></div>
                                    </div> <!-- End Skill Bar -->
                                </div>
                            </div>
                        </div>
                    </div><!-- End off skill -->
                </div><!-- End col-md-12 -->
            </div><!-- End off row -->
        </div><!-- End off container -->
    </section><!-- End off Team & Skill section -->
    
    
</body>
