@{
    ViewBag.Title = "Contact";
}

<h1>
    Practică 2018
<<<<<<< HEAD
</h3>


<div class="row">
    <div class="col-md-2">
        <h2>
            Poză
        </h2>
    </div>

    
    <div class="col-md-10">
    <h2>
        Descriere
    </h2>

</div>

    <div class="row">
        <div class="col-md-2">

            
        <img src="~/image/AlexPopa.jpg"  height="150" width="150" style="border:5px solid brown" />
        </div>

        <div class="col-md-10">Alex Popa.Îi place pizza,artele marțiale și să facă mișcare.</div>

    </div>

<div class="row">
    <div class="col-md-2">
        <img src="~/image/AlexVaja.jpg" height="150" width="150" style="border:5px solid yellow" />
    </div>

    <div class="col-md-10">Alex Vaja.Merge mult pe jos,scrie coduri și face drumeții montane.</div>

</div>

<div class="row">
    <div class="col-md-2">
        <img src="~/image/ElenaDobre.jpg" height="150" width="150" style="border:5px solid green"/>
    </div>

    <div class="col-md-10">Elena Dobre.Aleargă,desenează,ascultă metall și îi plac pisicile.</div>

</div>

<div class="row">
    <div class="col-md-2">
        <img src="~/image/LaurențiuPopoacă.jpg" height="150" width="150" style="border:5px solid pink"/>
    </div>

    <div class="col-md-10">Laurențiu Popoacă.Îi place să conducă,e fan STARWARS și ascultă electro.</div>

</div>

<div class="row">
    <div class="col-md-2">
        <img src="~/image/LucianBolboros.jpg" height="150" width="150" style="border:5px solid black"/>
    </div>

    <div class="col-md-10">Lucian Bolboros.Ski,munți,cățărare,speologie,caiac,bicicletă,etc.</div>

</div>
=======
</h1>

@*<h2>
    Alex Popa,  Alex Vaja,  Dobre Elena,  Laurențiu Popoacă,  Lucian Bolboros.
</h2>*@



<div class="row">
    <div class="col-md-4">
        <h2>
            Poza
        </h2>
    </div>

    <div class="col-md-8">
        <h2>
            Descriere
        </h2>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        
            <img src="~/Images/a.jpg" height="150" width="150" style="border:5px solid white" />
        
    </div>

    <div class="col-md-8">Descriere 1</div>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/Images/a.jpg" height="150" width="150" style="border:5px solid white"/>
    </div>

    <div class="col-md-8">Descriere 2</div>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/Images/a.jpg" height="150" width="150" style="border:5px solid white"/>
    </div>

    <div class="col-md-8">Descriere 3</div>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/Images/a.jpg" height="150" width="150" style="border:5px solid white"/>
    </div>

    <div class="col-md-8">Descriere 4</div>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/Images/a.jpg" height="150" width="150" style="border:5px solid white"/>
    </div>

    <div class="col-md-8">Descriere 5</div>
</div>
>>>>>>> Combobox
