<!-- Team -->
<div class="bg-color-sky-light">
    <div class="content-lg container">
        <div class="row margin-b-40">
            <div class="col-sm-6">
                <header class="page-header">
                    <h1 class="page-title">Meet the team</h1>
                </header>
            </div>
        </div>
        <!--// end row -->

        <div class="row">
            <!-- Team -->
            <div class="col-sm-4 sm-margin-b-50">
                <div class="bg-color-white margin-b-20">
                    <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                        <img class="img-responsive" src="~/image/AlexPopa.jpg" style="border:5px ridge black">
                    </div>
                </div>
                <h4><font color="FireBrick ">Alex Popa</font> <span class="text-uppercase margin-l-20">Programmer</span></h4>
                <p>***Adresa aici***</p>

            </div>
            <!-- End Team -->
            <!-- Team -->
            <div class="col-sm-4 sm-margin-b-50">
                <div class="bg-color-white margin-b-20">
                    <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                        <img class="img-responsive" src="~/image/AlexVaja.jpg" style="border:5px ridge FireBrick ">
                    </div>
                </div>
                <h4><font color="Black">Alex Vaja</font> <span class="text-uppercase margin-l-20">Lead Developer</span></h4>
                <p>***Adresa aici***</p>

            </div>
            <!-- End Team -->
            <!-- Team -->
            <div class="col-sm-4 sm-margin-b-50">
                <div class="bg-color-white margin-b-20">
                    <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                        <img class="img-responsive" src="~/image/ElenaDobre.jpg" style="border:5px ridge black">
                    </div>
                </div>
                <h4><font color="FireBrick ">Elena Dobre</font> <span class="text-uppercase margin-l-20">Programmer</span></h4>
                <p>Brașov, Street Padina nr.</p>
                <p>07</p>

            </div>
            <!-- End Team -->
            <!-- Team -->
            <div class="col-sm-4 sm-margin-b-50">
                <div class="bg-color-white margin-b-20">
                    <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                        <img class="img-responsive" src="~/image/Laurențiu.jpg" style="border:5px ridge FireBrick ">
                    </div>
                </div>
                <h4><font color="Black">Popoaca Laurentiu</font> <span class="text-uppercase margin-l-20">Designer</span></h4>
                <p>Brăila, Street Mircea Vodă nr. 3</p>
                <p>Phone Number: 0758 172 944</p>

            </div>
            <!-- End Team -->
            <!-- Team -->
            <div class="col-sm-4 sm-margin-b-50">
                <div class="bg-color-white margin-b-20">
                    <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                        <img class="img-responsive" src="~/image/LucianBolboros.jpg" style="border:5px ridge black">
                    </div>
                </div>
                <h4><font color="FireBrick">Lucian Bolboros</font> <span class="text-uppercase margin-l-20">Project Manager</span></h4>
                <p>***Adresa aici***</p>

            </div>
            <!-- End Team -->

        </div>
        <!--// end row -->
    </div>
</div>
<!-- End Team -->

    <section class="container-full top-space">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1915.6970630614078!2d25.617999793871164!3d45.65904459353664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b35b87aa7c313f%3A0xa973697c6e21e582!2sPentalog+Rom%C3%A2nia!5e0!3m2!1sro!2sro!4v1532511720012" width="1800" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </section>
    
